# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore composer dependency directories
vendor/

# ignore phpdocumentor cache directories
docs/phpdoc-cache*/*
